*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("bg.jpg") no-repeat center/cover fixed;
  margin: 0;
}

.nav-1 {
  margin: 10px;
  font-size: 20px;
  font-family: "consoloas", serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid rgb(212, 209, 209);
  padding: 10px 20px;
}

.nav-1 * {
  border: none;
}

.nav-1 ul {
  list-style: none;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav-1 li {
  margin-right: 20px;
}

.nav-1 a {
  text-decoration: none;
  color: aliceblue;
}

.nav-1 :hover {
  color: aqua;
  transition-duration: 500ms;
}

.odd, .even {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
  background: linear-gradient(to right, skyblue, white) no-repeat fixed;
  font-family: "consoloas", serif;
  font-size: 18px;
  border: 2px solid gold;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

h1 {
  background: linear-gradient(to right, skyblue, white) no-repeat fixed;
  margin: 10px;
  text-align: center;
  font-size: 65px;
  position: sticky;
  top: 0;
}

#p1 {
  color: rgb(42, 196, 42);
}

.odd {
  color: red;
}

.even {
  color: blue;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#box1, #box2 {
  border: 5px solid;
  width: 250px;
  height: 250px;
  font-size: 22px;
  padding: 20px;
  margin: 2px;
}

#box1 {
  background-color: beige;
}

#box2 {
  background-color: blanchedalmond;
}

button {
  background-color: rgb(42, 196, 42);
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn1 {
  display: flex;
  justify-content: center;
}

.mg {
  display: flex;
  float: left;
  flex-direction: column;
  gap: 20px;
  justify-items: center;
}

img {
  object-fit: cover;
}

a:link {
  text-decoration: none;
  color: white;
}